*~
*.eps
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.dvi
*.ps

#glossary files
*.gls
*.glg
*.glo
*.ist

#synctex files
*.synctex
*.synctex.gz

#temporary files in custom dependencies
*.pdf_tex
*.eps_tex


